:root {
  --sans-font: 'Public Sans', -apple-system, BlinkMacSystemFont,
  helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
  sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: .85rem;
  font-family: var(--sans-font);
  background-color: #f6f5f0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}